* {
  box-sizing: border-box; }

html, body {
  font-family: 'Inter',arial, helvetica;
  margin: 0;
  height: 100%; }

#app {
  height: calc(100% - 50px); }

.heading {
  font-weight: bold;
  font-size: 40px;
  padding: 0 0 30px; }

.container {
  display: flex;
  height: 100%; }
  .container-wrapper {
    height: 100%;
    padding-bottom: 50px; }
  .container > div {
    flex: 1;
    display: flex;
    align-items: center; }
  .container .leftsection > div {
    padding: 40px;
    font-size: 20px; }
  .container .rightsection .banner-image {
    width: 100%; }

nav {
  height: 78px;
  width: 100%;
  background-color: #222629;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px; }
  nav a:last-child {
    border: 1px solid #49DA32;
    border-radius: 5px;
    padding: 10px 20px 10px 20px; }
  nav a {
    color: #fff;
    text-decoration: none;
    margin: 20px;
    font-size: 20px; }
  nav a:active, nav a:hover {
    color: #49da32; }
  nav .brand {
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: bold;
    font-size: 30px; }
  nav #logo {
    width: 70px;
    height: 70px;
    display: flex;
    margin-right: 10px; }

.container-wrapper.about {
  height: 500px; }

.tagline-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #f5f3f1; }
  .tagline-section > div {
    text-align: center; }

.pricing-table {
  text-align: center; }

.pricing-heading {
  text-align: center; }

/* Each pricing-item, I copied this code from online to learn how to make pricing charts, if this isn't allowed, please let me know.*/
.pricing-item {
  border-radius: 3px;
  display: inline-block;
  width: 260px;
  height: auto;
  background: #fff;
  margin: 20px;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1.5px 4px rgba(0, 0, 0, 0.24), 0 1.5px 6px rgba(0, 0, 0, 0.12);
  -webkit-transition: all 0.2s cubic-bezier(0.3, 0.6, 0.2, 1.8);
  transition: all 0.2s cubic-bezier(0.3, 0.6, 0.2, 1.8); }
  .pricing-item:hover {
    -webkit-transform: scale(1.04);
    -ms-transform: scale(1.04);
    transform: scale(1.04);
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.23), 0 3px 12px rgba(0, 0, 0, 0.16); }
  .pricing-item .pricing-title {
    width: 100%;
    color: white;
    display: block;
    position: relative;
    background: #49DA32;
    padding: 7px;
    font-weight: bold;
    font-size: 20px; }
  .pricing-item.pricing-featured .pricing-title {
    background: #142B04; }

/* pricing-value */
.pricing-value {
  width: 180px;
  height: 180px;
  padding-top: 46px;
  border-radius: 50%;
  color: #fff;
  font-size: 46px;
  font-weight: 300;
  margin: 10px auto; }

.pricing-value .smallText {
  font-size: 14px; }

.pricing-value .undertext {
  display: block;
  font-size: 16px; }

.pricing-item .pricing-value {
  background: #49DA32;
  border: 2px solid #49DA32; }

.pricing-item.pricing-featured .pricing-value {
  background: #142B04;
  border: 2px solid #142B04; }

/* List */
.pricing-item .pricing-features {
  margin: 10px 0;
  padding: 0;
  list-style: none; }
  .pricing-item .pricing-features li {
    display: block;
    width: 90%;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    font-weight: 400;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 auto; }
    .pricing-item .pricing-features li .keywords {
      font-weight: bold; }

.button {
  width: 140px;
  height: 38px;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  margin: 0 auto;
  background: #fff;
  color: #49DA32;
  border: 2px solid #49DA32;
  cursor: pointer;
  margin-bottom: 10px;
  -webkit-transition: .2s ease-out;
  -moz-transition: .2s ease-out;
  -o-transition: .2s ease-out;
  -ms-transition: .2s ease-out;
  transition: .2s ease-out;
  /*-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2), 0 2px 3px rgba(0, 0, 0, 0.05);*/ }
  .button:hover {
    background: #49DA32;
    color: #fff;
    border: none;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

.pricing-item.pricing-featured .button {
  color: #142B04;
  border: 2px solid #142B04; }
  .pricing-item.pricing-featured .button:hover {
    background: #142B04;
    color: #fff; }

.selected {
  z-index: 10;
  width: 180px;
  height: 32px;
  padding: 0 20px;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  box-shadow: 0px 2px 5px #888888;
  background: gold;
  border-top: 5px solid gold;
  border-bottom: 5px solid gold;
  transform: rotate(35deg);
  position: absolute;
  right: -47px;
  top: 17px; }

.container-wrapper.signup .leftsection {
  background-color: black;
  color: #ffffff; }

.container-wrapper.contact .rightsection {
  justify-content: center;
  background: #f1f1f1; }

.subheading {
  font-weight: bold; }

.container .leftsection > h1 {
  padding: 40px; }

.container-wrapper.login .rightsection {
  justify-content: center;
  background: #f1f1f1; }

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box; }

button {
  background-color: #49DA32;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%; }

button:hover {
  opacity: 0.8; }

.login-container {
  padding: 16px; }

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none; }
  .cancelbtn {
    width: 100%; } }

#footer {
  background-color: #222629;
  padding: 0 20px;
  position: fixed;
  bottom: 0;
  width: 100%; }

footer {
  height: 50px;
  display: flex;
  align-items: center; }
  footer p {
    color: #fff; }

input[type=text], input[type=password], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #f5f3f1;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Inter'; }

input[type=submit] {
  background-color: #49DA32;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer; }

input[type=submit]:hover {
  background-color: #45a049; }
