<div class="container-wrapper contact">
    <div class="container">
        <div class="leftsection">
            <h1>Contact</h1>
        </div>
        <div class="rightsection">
            <form>
                <div class="form-field">
                    <label for="fname" class="subheading">First Name</label>
                    <input type="text" id="fname" name="firstname" placeholder="Your name..">
                </div>
                <div class="form-field">
                    <label for="lname" class="subheading">Last Name</label>
                    <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                </div>
                <div class="form-field">
                    <label for="subject" class="subheading">Subject</label>
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
                </div>
                <input type="submit" value="Submit" class="subheading">
            </form>
        </div>
    </div>
</div>