.container-wrapper.about {
    height: 500px;
}

.tagline-section{
    display:flex;
    justify-content:center;
    align-items:center;
    height:400px;
    background-color:#f5f3f1;
    >div {
        text-align: center;
    }
}
