<div class="container-wrapper signup">
    <div class="container">
        <div class="leftsection">
            <div>
                <p class="heading">By students,<br>
                for students,<br>
                    for life</p>
                <p>Learn confidently for a fraction of the cost with industry professionals.</p>
            </div>
        </div>
        <div class="rightsection">
            <!-- <p class="heading">By students,<br>
                for students,<br>
                for life</p>
            <p>Learn confidently for a fraction
                of the cost with industry professionals.
            </p> -->
            <img class="banner-image" src="/assets/download.png">
        </div>
    </div>
</div>