<div class="container-wrapper signup">
    <div class="container">
        <div class="leftsection">
            <div>
                    <!--<p class="heading">By students,<br>
                    for students,<br>
                        for life</p>
                    <p>Learn confidently for a fraction of the cost with industry professionals.</p>
                    -->
                    <h2>Sign Up</h2>
                    <form>
                        <div class="form-field">
                            <label for="fname" class="subheading">First Name</label>
                            <input type="text" id="fname" name="firstname" placeholder="Your name..">
                        </div>
                        <div class="form-field">
                            <label for="lname" class="subheading">Last Name</label>
                            <input type="text" id="lname" name="lastname" placeholder="Your last name..">
                        </div>
                        <div class="form-field">
                            <label for="email" class="subheading">Email</label>
                            <input type="text" id="lname" name="email" placeholder="Your email..">
                        </div>
                        <div class="form-field">
                            <label for="password" class="subheading">Password</label>
                            <input type="text" id="lname" name="password" placeholder="Your password..">
                        </div>
                 
                        <input type="submit" value="Submit" class="subheading">
                    </form>
            </div>
        </div>
        <div class="rightsection">
            <!-- <p class="heading">By students,<br>
                for students,<br>
                for life</p>
            <p>Learn confidently for a fraction
                of the cost with industry professionals.
            </p> -->
            <img class="banner-image" src="assets/download.png">
        </div>
    </div>
</div>