<div class="container-wrapper home">
    <div class="container">
        <div class="leftsection">
            <div>
                <p class="heading">Learn finance with confidence.</p>
                <p>With Fyscal, you’re guided through practical and conceptual lessons taught by industry professionals.</p>
            </div>
        </div>
        <div class="rightsection">
            <img class="banner-image" src="/assets/download (4).png" alt="Home image" />
        </div>
    </div> 
</div>