<div class="container-wrapper about">
    <div class="container">
        <div class="leftsection">
            <div>
                <p class="heading">About Fyscal</p>
                <p>Fyscal is committed to providing transparent pricing with world class lessons. We are a company that is based in Indiana.</p>
            </div>
        </div>
        <div class="rightsection">
            <img class="banner-image" src="assets/download.png">
        </div>
    </div>
    <div class="tagline-section">
        <div>
            <h2 class="heading">Pay less, get more.</h2>
            <p>At Fyscal, our mission is to provide high quality instruction for a fraction of the cost with transparent pricing. Let’s keep it simple.</p>
        </div>
    </div>
</div>