<h1 class="pricing-heading">Fyscal Pricing Options</h1>
<div class="pricing-table">
  
  <div class="pricing-item">
    <div class="pricing-title">
      Basic
    </div>
    <div class="pricing-value">$100<span class="smallText">99</span>
      <span class="undertext">/Month</span>
    </div>
    <ul class="pricing-features">
      <li><span class="keywords">1GB</span> Tutorials</li>
      <li>Lessons <span class="keywords">Unlimitied</span></li>
      <li><span class="keywords">10 Courses</span> per year</li>
      <li><span class="keywords">Over 13</span> Teachers</li>
    </ul>
    <div class="button">Buy</div>
  </div>
  
  <div class="pricing-item pricing-featured">
    <div class='selected'>Recommended</div>
    <div class="pricing-title">
      PRO
    </div>
    <div class="pricing-value">$300<span class="smallText">99</span>
      <span class="undertext">/Month</span>
    </div>
    <ul class="pricing-features">
      <li><span class="keywords">5GB</span> Tutorials</li>
      <li>Lessons<span class="keywords">Unlimited</span></li>
      <li><span class="keywords">100 Courses</span> per year</li>
      <li><span class="keywords">100gb</span> Extra stuff</li>
    </ul>
    <div class="button">Buy</div>
  </div>
  
</div>